{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'label.login'|trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1 class="text-center">{{ 'label.login'|trans }}</h1>
{% endblock %}

{% block card_body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post">
        <div class="mb-3">
            <label for="username">{{ 'label.email_address'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="_username" placeholder="{{ 'label.email_address'|trans }}" id="username" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">
            <label for="password">{{ 'label.password'|trans }}</label>
            <input type="password" name="_password" id="password" placeholder="{{ 'label.password'|trans }}" class="form-control" autocomplete="current-password" required>
            
            {#
                <a href="{{ path('app_forgot_password_request') }}">{{ 'label.forgot_password'|trans }}</a> |
                
            </div>
            #}
        </div>
        <div class="row">
            <div class="col-6">
                <a href="{{ path('app_registration_register') }}" class="btn btn-secondary">
                    {{ 'label.no_account'|trans }}
                </a>
            </div>
            <div class="col-6 text-end">
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">{{ 'label.login'|trans }}</button>
            </div>
        </div>
        
    </form>
{% endblock %}
