{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome_title' | trans }}
    {{ parent() }}
{% endblock %}

{% block font %}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ 'welcome_title' | trans }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="container start-page">
        <div class="row text-dark">
            {{ render(controller('App\\Controller\\EmbedController::sidebar', {max: 3})) }}
            <div class="col-sm-8">
                <h1>{{ 'home_h1' | trans }}</h1>
                <div class="card mb-3" id="journal-public">
                    <div class="card-header font-weight-bold">Journal public</div>
                    <div class="card-body p-2">
                        Journal...

                        <ul class="list-unstyled list-comments">
                            {% if journals is defined and journals | length > 0 %}
                                {% for journal in journals %}
                                    {% include 'partials/comment-item.html.twig' with { 'object': journal, 'object_type': 'journal'} %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="card" id="latest-users">
                    <div class="card-header font-weight-bold">Membres récents</div>
                    <ul class="card-body p-2">
                        latest udrtd....
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
