{% extends 'base.html.twig' %}

{% block title %}
    {{ page.title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ page.title }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ render(controller('App\\Controller\\EmbedController::sidebar', {max: 3})) }}
            <div class="col-sm-8">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
