{% extends 'base.html.twig' %}

{% set post_type = 'post.' ~ app.request.pathInfo|slice(1) %}
{% set post_type_slug = 'label.posts_page_h1' | trans({'%post_type%': post_type|trans }) %}

{% block title %}
    {{ post_type_slug }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ post_type_slug }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="container start-page">
        <div class="row">
            {{ render(controller('App\\Controller\\EmbedController::sidebar', {max: 3})) }}
            <div class="col-sm-8">
                <h1 class="mb-4 text-center">{{ post_type_slug }}</h1>
                {% for post in posts %}
                    {% include 'partials/_card-post.html.twig' with {'post': post} only %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
