{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ post.title }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="container start-page">
        <div class="row text-dark">
            {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}
            <div class="col-sm-8">
                {% include 'partials/_card-post.html.twig' with {
                    post: post,
                    likedPostIds: likedPostIds,
                    commentPostIds: commentPostIds
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
