<div class="card mb-3 card-post">
    <div class="card-header">
        <div class="d-inline-block align-middle">
            {% include 'partials/_avatar.html.twig' with {'pseudo': post.user.pseudo, 'avatarName': post.user.avatarName, 'size': 64 } only %}
        </div>
        <div class="d-inline-block align-middle">
            <a href="{{ path('app_frontend_member_profile', {'pseudo': post.user.pseudo}) }}" title="{{ 'label.profile'|trans }}" class="fw-bold">
                {{ post.user.pseudo }}
            </a>
            <br>
            <time class="" datetime="{{ post.createdAt | date('Y.m.d') }}">
                {{ 'label.date_on' | trans }} : {{ post.createdAt | date('d.m.Y') }}
            </time>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="text-end">
            {% if post.question is true %}
            <span title="{{ 'label.post_is_question' | trans }}" class="bg-info p-1 ps-3 pe-3 rounded-bottom fw-bold post-features">
                {{ ux_icon('bi:question', {class: 'basic-icon'}) }}
            </span>
            {% endif %}
            <span title="{{ 'label.post_type' | trans }}" class="p-1 ps-3 pe-3 rounded-bottom fw-bold post-features">
                {{ ('post.' ~ post.type.name ~ '.singular') | trans }}
            </span>
        </div>
         <h2>
            {{ post.title }}
            {% if post.titleArabic is not null %}
                <br>
                {{ post.titleArabic }}
            {% endif %}
        </h2>
         <p>{{ post.description }}</p>
        {% if post.postImageName is not null %}
            <div class="card-post-image">
                <img src="{{ asset(posts_dir ~ '/' ~ post.postImageName) | imagine_filter('post_image') }}" alt="">
            </div>
        {% endif %}
        {% if app.user == post.user %}
            <div class="text-end mt-2">
                <a href="{{ path('app_post_delete', {'id': post.id} ) }}">{{ 'label.post_delete' | trans }}</a>
                | 
                <a href="{{ path('app_post_edit', {'id': post.id} ) }}">{{ 'label.post_edit' | trans }}</a>
            </div>
        {% endif %}
    </div>

    <div class="card-footer">
        <div class="row mt-2">
            <div class="col post-actions">
            {% set likeCount= '<span id="likes-counter-' ~ post.id ~ '" data-user-like-target="count">' ~ post.userLikes|length ~ '</span>' %}
            {% set iconLikeName = (app.user and post.id in user_like_post_ids) ? 'bi:heart-fill' : 'bi:heart' %}
            {% set iconLike = '<span data-user-like-target="icon">' ~ ux_icon(iconLikeName, {class: 'basic-icon text-danger'}) ~ '</span>' %}

            <button
                type="button"
                title="{{ 'label.i_like' | trans }}"
                class="btn-likes p-2 rounded"
                data-controller="user-like"
                data-action="click->user-like#like"
                data-user-like-url-value="{{ path('app_async_user_like', { id: post.id }) }}"
                data-user-like-csrf-token-value="{{ csrf_token('like-post') }}">
                {{ iconLike|raw }}
                {{ likeCount|raw }}
            </button>

            <!-- Comment -->
            {% set commentCount= '<span id="comment-counter-' ~ post.id ~ '" data-user-comment-target="count">' ~ post.userComments|length ~ '</span>' %}
            {% set iconCommentName = (app.user and post.id in user_comment_post_ids) ? 'bi:chat-dots-fill' : 'bi:chat-dots' %}
            {% set iconComment = '<span data-user-comment-target="icon">' ~ ux_icon(iconCommentName, {class: 'basic-icon'}) ~ '</span>' %}

                <button
                    type="button"
                    title="{{ 'label.i_comment' | trans }}"
                    class="btn-likes p-2 rounded"
                    data-controller="user-comment"
                    data-action="click->user-comment#getForm"
                    data-user-comment-id-value="{{ post.id }}"
                    data-user-comment-url-value="{{ path('app_async_user_comment', { id: post.id }) }}">
                    {{ iconComment|raw }}
                    {{ commentCount|raw }}
                </button>
            </div>
            <div class="col text-end">
                <a 
                    href="https://x.com/intent/tweet?url={{ url('app_frontend_post', {'seoTypeSlug': ('post.'~ post.type.name ~'.seo_route') | trans, 'id' : post.id, 'titleSlug': post.titleSlug}) | url_encode }}" 
                    target="_blank"
                    class="btn btn-dark"
                    rel="noopener noreferrer"
                    title="{{ 'label.x_share'|trans }}">
                    {{ ux_icon('bi:twitter-x', {class: 'basic-icon'}) }}
                </a>
                <a 
                    href="https://www.facebook.com/sharer/sharer.php?u={{ url('app_frontend_post', {'seoTypeSlug': ('post.'~ post.type.name ~'.seo_route') | trans, 'id' : post.id, 'titleSlug': post.titleSlug}) | url_encode }}"
                    target="_blank" 
                    rel="noopener noreferrer"
                    class="btn btn-primary"
                    title="{{ 'label.facebook_share'|trans }}">
                    {{ ux_icon('bi:facebook', {class: 'basic-icon'}) }} 
                </a>
            </div>
        </div>
        <div data-controller="user-comment-delete" id="comment-container-{{ post.id }}" class="comment-container slide-toggle mt-2" data-contentLoaded="false">
        </div>
     </div>
</div>
