<div class="card mb-3 card-post">
    <div class="row card-header">
        <div class="col-6">
            <a href="{{ path('app_profile_index', {'pseudo': post.user.pseudo}) }}" title="{{ 'label.profile'|trans }}" class="no-underline">
                {% include 'partials/_avatar.html.twig' with {'user': post.user } only %}
                {{ post.user.pseudo }}
            </a>
            | {{ post.createdAt | date('d.m.Y') }}
            | {{ ('post.' ~ post.type.name ~ '.singular') | trans }}
        </div>
        <div class="col-6 text-end">
            {% if app.user == post.user %}
                <a title="{{ 'label.post_update' | trans }}" href="{{ path('app_post_show', {'id': post.id} ) }}">
                    {{ ux_icon('bi:pen-fill', {class: 'basic-icon'}) }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body p-2">
         <h1>{{ post.title }}</h1>
         <p>{{ post.description }}</p>

        {% if post.postImageName is not null %}
            <div class="card-post-image">
                <img src="{{ asset(posts_dir ~ '/' ~ post.postImageName) | imagine_filter('post_image') }}" alt="">
            </div>
        {% endif %}
    </div>

    <div class="card-footer">
        {% set likeCount= '<span data-post-like-target="count">' ~ post.postLikes|length ~ '</span>' %}
        {% set iconName = (app.user and post.id in likedPostIds) ? 'bi:heart-fill' : 'bi:heart' %}
        {% set icon = '<span data-post-like-target="icon">' ~ ux_icon(iconName, {class: 'basic-icon text-danger'}) ~ '</span>' %}

        {% if app.user is null %}
            <a href="{{ path('app_security_login') }}" title="{{ 'label.i_like' | trans }}">
                {{ icon|raw }}
                {{ likeCount|raw }}
            </a>
        {% else %}
            <a role="button" href="#" title="{{ 'label.i_like' | trans }}" class="btn-likes p-2 rounded"
            data-controller="post-like"
            data-action="click->post-like#like"
            data-post-like-url-value="{{ path('app_async_post_like', { id: post.id }) }}"
            data-post-like-csrf-token-value="{{ csrf_token('like-post') }}">
                {{ icon|raw }}
                {{ likeCount|raw }}
            </a>
        {% endif %}
    </div>
</div>
