<div class="card mb-3 card-post">
    <div class="card-header">
        <div class="d-inline-block align-middle">
            {% include 'partials/_avatar.html.twig' with {'pseudo': entity.user.pseudo, 'avatarName': entity.user.avatarName, 'size': 64 } only %}
        </div>
        <div class="d-inline-block align-middle">
            <a href="{{ path('app_frontend_member_profile', {'pseudo': entity.user.pseudo}) }}" title="{{ 'label.profile'|trans }}" class="fw-bold">
                {{ entity.user.pseudo }}
            </a>
            <br>
            <time class="" datetime="{{ entity.createdAt | date('Y.m.d H:i') }}">
                {{ 'label.date_on' | trans }} : {{ entity.createdAt | date('d.m.Y H:i') }}
            </time>
        </div>
    </div>
    <div class="card-body p-2">
        {% if instanceof(entity, 'App\\Entity\\Post') %}
        {% set entityName = 'post' %}
            {{ include ('partials/_entity-card-post.html.twig') }}
        {% else %}
        {% set entityName = 'wall' %}
            {{ include ('partials/_entity-card-wall.html.twig') }}
        {% endif %}

        <div class="row mt-2">
            {% if app.request.attributes.get('_route') == 'app_frontend_posts' %}
            <div class="col">
                <a href="{{ path('app_frontend_' ~ entityName, {'seoTypeSlug': ('post.'~ entity.type.name ~'.seo_route') | trans, 'id' : entity.id, 'titleSlug': entity.titleSlug}) }}">
                    {{ 'label.view_single_entity' | trans }}
                </a>
            </div>
            {% endif %}
            {% if app.user == entity.user %}
            <div class="col text-end">
                <a href="{{ path('app_' ~ entityName ~ '_delete', {'id': entity.id} ) }}" class="text-danger">{{ 'label.delete' | trans }}</a>
                | 
                <a href="{{ path('app_' ~ entityName ~ '_edit', {'id': entity.id} ) }}">{{ 'label.edit' | trans }}</a>
            </div>
            {% endif %}
        </div>
        
    </div>

    <div class="card-footer">
        {{ include ('partials/_user-interactions.html.twig') }}
    </div>
</div>
