{{ form_start(form, { attr: attr|default({}) }) }}
    {% if form_name is defined and form_name == 'post' %}
        <div class="mb-3">
            {{ form_row(form.type) }}
        </div>
        <div class="row g-2" id="post-titles-wrapper">
            <div class="col-md">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md">
                {{ form_row(form.titleArabic) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.postImageFile) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.question) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
    <div class="row">
        <div class="col-md">
            <button type="button" id="reset-form" class="btn btn-dark" onclick="window.location.href = window.location">{{ 'label.cancel' | trans }}</button>
        </div>
        <div class="col-md text-end">
            <button type="submit" id="submit-form" class="btn btn-secondary">{{ 'label.send' | trans }}</button>
        </div>
    </div>
    
    
{{ form_end(form) }}
