<div class="row mt-2">
    <div class="col">
        {# Likes #}
        {% set iconLikeName = (app.user and entity.id in user_like_interaction_ids) ? 'bi:heart-fill' : 'bi:heart' %}
        {% set iconLike = '<span data-user-interactions-target="likeIcon">' ~ ux_icon(iconLikeName, {class: 'basic-icon text-danger'}) ~ '</span>' %}
        <button
            type="button"
            title="{{ 'label.i_like' | trans }}"
            class="btn-likes p-2 rounded"
            data-action="click->user-interactions#like">
            {{ iconLike|raw }}
            <span data-user-interactions-target="likeCount">{{ entity.userLikes | length }}</span>
        </button>

        {# Comments #}
        {% set iconCommentName = (app.user and entity.id in user_comment_interaction_ids) ? 'bi:chat-dots-fill' : 'bi:chat-dots' %}
        {% set iconComment = '<span data-user-interactions-target="commentIcon">' ~ ux_icon(iconCommentName, {class: 'basic-icon'}) ~ '</span>' %}
        <button
            type="button"
            title="{{ 'label.i_comment' | trans }}"
            class="btn-comments p-2 rounded"
            data-action="click->user-interactions#getCommentForm">
            {{ iconComment|raw }}
            <span data-user-interactions-target="commentCount">{{ entity.userComments | length }}</span>
        </button>
    </div>

    {# Social media shares #}
    <div class="col text-end">
        <button
            type="button"
            title="{{ 'label.copy_entity_link' | trans }}"
            class="btn btn-info"
            data-action="click->user-interactions#copyEntityUrl"
            data-entity-url="{{ entity_url }}"
            data-label-copied="{{ 'label.copied' | trans }}">
            {{ ux_icon('bi:link', {class: 'basic-icon'}) }} <span></span>
        </button>
        <a 
            href="https://x.com/intent/tweet?url={{ entity_url | url_encode }}" 
            target="_blank"
            class="btn btn-dark"
            rel="noopener noreferrer"
            title="{{ 'label.x_share'|trans }}">
            {{ ux_icon('bi:twitter-x', {class: 'basic-icon'}) }}
        </a>
        <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{ entity_url | url_encode }}"
            target="_blank" 
            rel="noopener noreferrer"
            class="btn btn-primary"
            title="{{ 'label.facebook_share'|trans }}">
            {{ ux_icon('bi:facebook', {class: 'basic-icon'}) }} 
        </a>
    </div>
</div>

<div id="comment-container-{{ entity.id }}" class="slide-toggle mt-2">
</div>
