{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'label.reset_password_request'|trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1 class="text-center">{{ 'label.reset_password_request'|trans }}</h1>
{% endblock %}

{% block card_body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="mb-3">
        {{ include('partials/_form.html.twig') }}
    </div>
{% endblock %}


{% block card_footer %}
{% endblock %}
