<div class="sidebar col-sm-4">
    <div class="card mb-3">
        <div class="card-header fw-bold">
            {{ 'label.newest_posts' | trans }}
            <a title="{{ 'label.post_create' | trans }}" href="{{ path('app_post_new') }}">
                {{ ux_icon('bi:journal-plus', {class: 'basic-icon'}) }}
            </a>
        </div>
        <div class="card-body">
            {% for post in latest_posts %}
                <div class="mb-2 pb-1 card-list">
                    {%  include 'partials/_avatar.html.twig' with {'user': post.user } only %}
                    <a href="{{ path('app_frontend_post', {'seoTypeSlug': ('post.'~ post.type.name ~'.seo_route') | trans, 'id' : post.id, 'titleSlug': post.titleSlug}) }}" title="Par: {{ post.user.pseudo }} - Le: {{ post.createdAt | date }}">
                        {{ post.title }}
                    </a>
                </div>
            {% endfor %}
            <div class="text-center mt-3">
                 <a href="{{ path('app_post_new') }}" class="btn btn-secondary">
                    {{ 'post.label.create' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header fw-bold">Les commentaires récents</div>
        <div class="card-body">
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header fw-bold">Les plus énigmatiques</div>
        <div class="card-body">
            <ul class="pl-3 mb-2">
                ...
            </ul>
            <p>
                Des membres se posent des questions sur l'origine de certaines
                tournures de langage ; aidez-les.
            </p>
        </div>
    </div>

    <div class="card fw-bold mb-3">
        <div class="card-header">Noter {{ app_name }}</div>

        <div class="card-body">
            <!-- Rating Stars Box -->
            <div class="rating-stars text-center">
                <div class="mb-2">
                    Votes...
                </div>
            </div>
        </div>
    </div>

    {% if app.user is same as(null) %} {# For non users only #}
        <div class="card bg-happy mb-3">
            <div class="card-header font-weight-bold">{{ app_name }}, keskissik?</div>

            <div class="card-body">
                {% if page is defined %}
                    <p>{{ page.description | raw }}</p>
                    <a href="{{ path('app_frontend_index', { alias: 'keskissik' }) }}" class="btn btn-primary">En savoir plus</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
