<div class="sidebar col-sm-4">
    <div class="card bg-rocher mb-3">
        <div class="card-header fw-bold">
            {{ 'label.newest_comments' | trans }}
        </div>
        <div class="card-body">
            {% for comment in newset_comments %}
                <div class="mb-2 pb-1 card-list">
                    {%  include 'partials/_avatar.html.twig' with {'user': comment.post.user } only %}
                    <a href="{{ path('app_frontend_post', {'seoTypeSlug': ('post.'~ comment.post.type.name ~'.seo_route') | trans, 'id' : comment.post.id, 'titleSlug': comment.post.titleSlug}) }}" title="Par: {{ comment.post.user.pseudo }} - Le: {{ comment.post.createdAt | date }}">
                        {{ comment.comment }}
                    </a>
                </div>
            {% endfor %}
            <div class="text-center mt-3">
                 <a href="{{ path('app_post_new') }}" class="text-yellow">
                    {{ ux_icon('bi:arrow-right-circle-fill', {class: 'basic-icon'}) }} {{ 'post.label.create' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="card bg-rocher mb-3">
        <div class="card-header fw-bold">
            {{ 'label.newest_questions' | trans }}
        </div>
        <div class="card-body">
            <p>
                Des membres se posent des questions sur l'origine de certaines
                tournures de langage ; aidez-les.
            </p>
            {% for post in newset_questions %}
                <div class="mb-2 pb-1 card-list">
                    {%  include 'partials/_avatar.html.twig' with {'user': post.user } only %}
                    <a href="{{ path('app_frontend_post', {'seoTypeSlug': ('post.'~ post.type.name ~'.seo_route') | trans, 'id' : post.id, 'titleSlug': post.titleSlug}) }}" title="Par: {{ post.user.pseudo }} - Le: {{ post.createdAt | date }}">
                        {{ post.title }}
                    </a>
                </div>
            {% endfor %}
            <div class="text-center mt-3">
                 <a href="{{ path('app_frontend_questions') }}" class="text-yellow">
                    {{ ux_icon('bi:arrow-right-circle-fill', {class: 'basic-icon'}) }} {{ 'label.show_all_questions' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="card bg-rocher mb-3">
        <div class="card-header fw-bold">
            {{ 'label.newest_users' | trans }}
        </div>
        <div class="card-body">
            {% for user in newest_users %}
                <div class="mb-2 pb-1 card-list">
                    {%  include 'partials/_avatar.html.twig' with {'user': user } only %}
                    <a href="{{ path('app_frontend_member_profile', {'pseudo': user.pseudo}) }}">
                        {{ user.pseudo }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
