{% extends 'base.html.twig' %}

{% block title %}Wall index{% endblock %}

{% block body %}
    <h1>Wall index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wall in walls %}
            <tr>
                <td>{{ wall.id }}</td>
                <td>{{ wall.description }}</td>
                <td>{{ wall.createdAt ? wall.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wall.updatedAt ? wall.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_wall_show', {'id': wall.id}) }}">show</a>
                    <a href="{{ path('app_wall_edit', {'id': wall.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wall_new') }}">Create new</a>
{% endblock %}
