{% extends 'base.html.twig' %}

{% set header_meta = 'label.welcome_h1' | trans({'%app_name%': app_name}) %}

{% block title %}
    {{ header_meta }}
{% endblock %}

{% block font %}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ header_meta }}" />
{% endblock %}

{% block body %}
    <div class="col-sm-8">
        <h1 class="mb-3 text-center">{{ header_meta }}</h1>
        
        {% if app.user is null and page is not null %}
        <article class="mb-4 mt-4">
            <h2>{{ 'label.welcome_h2' | trans({'%app_name%': app_name}) }}</h2>
            {{ page.description | raw }}
            <p class="text-end">
                <a href="{{ path('app_frontend_page', { 'alias': 'alamouriska-keskissik' }) }}">>> {{ 'label.read_more'|trans }}</a>
            </p>
        </article>
        {% endif %}

        <h3 class="white-hr"><span>{{ 'label.newest_posts'|trans }}</span></h3>
        {% include 'partials/_entity-loop.html.twig' with {'entities': newest_posts} %}

        <div class="text-center mb-3">
            <a href="{{ path('app_post_new') }}" class="btn btn-secondary">
                {{ 'post.label.create' | trans }}
            </a>
        </div>
    </div>
    {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}
{% endblock %}
