{% extends 'base.html.twig' %}

{% block title %}
    {{ member.pseudo }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-sm-4">
        <div class="card bg-moudja mb-3">
            {% block card_header %}
            {% endblock %}
            <div class="card-body">
                <div class="mt-2 mb-4 text-center">
                    {% include 'partials/_avatar.html.twig' with {'user': member, 'size': 128 } only %}
                </div>
                <h1 class="mb-4 text-center display-5">{{ member.pseudo }}</h1>
                <dl class="row">
                    <dt class="col-6">{{ 'label.profile_since' | trans }}</dt>
                    <dd class="col-6">{{ member.createdAt | date('d-m-Y') }}</dd>
                    <dt class="col-6">{{ 'label.profile_posts_count' | trans }}</dt>
                    <dd class="col-6">{{ posts_count }}</dd>
                    <dt class="col-6">{{ 'label.profile_comments_count' | trans }}</dt>
                    <dd class="col-6">{{ comments_count }}</dd>
                </dl>

                {% if app.user and app.user != member and member.enableCommunityContact %}
                <div class="p-2 bg-rocher rounded">
                    {% include 'partials/_form.html.twig' with {
                        form: form,
                        attr: {
                            id: 'contact-member',
                            method: 'post',
                            'data-controller': 'contact-member',
                            'data-action': 'submit->contact-member#contact',
                            'data-contact-member-url-value': path('app_async_contact_member', { 'id': member.id }),
                        }
                    } only %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        {% for post in pagination %}
            {% include 'partials/_card-post.html.twig' with {
                post: post,
                user_like_post_ids: user_like_post_ids,
                user_comment_post_ids: user_comment_post_ids
            } only %}
        {% else %}
            <p class="alert alert-info">
                {{ 'flash.user_no_posts' | trans }}
            </p>
        {% endfor %}

        {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>
{% endblock %}
