{% extends 'base.html.twig' %}

{% block title %}
    {{ entity.title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ entity.title }} - {{ app_name }}" />
{% endblock %}

{% block opengraph_image %}
    {% if entity.postImageName is not null %}
        <meta property="og:image" content="{{ absolute_url(asset(posts_dir ~ '/' ~ entity.postImageName) | imagine_filter('post_image')) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-8">
        {{ include ('partials/_entity-card.html.twig') }}
    </div>
    {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}
{% endblock %}
