{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ post.title }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="col-sm-8">
        {% include 'partials/_card-post.html.twig' with {
            post: post,
            liked_post_ids: liked_post_ids,
            comment_post_ids: comment_post_ids
        } only %}
    </div>
    {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}
{% endblock %}
