{% extends 'base.html.twig' %}

{% block title %}
    {{ entity.title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ entity.title }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    <div class="col-sm-8">
        {{ include ('partials/_entity-card.html.twig') }}
    </div>
    {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}
{% endblock %}
