{% extends 'base.html.twig' %}

{% set header_meta = 'label.wall_h1' | trans %}

{% block title %}
    {{ header_meta }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ header_meta }}" />
{% endblock %}

{% block body %}
    <div class="col-sm-8">
        <h1 class="mb-3 text-center">
            {{ header_meta }}
            <small><a href="{{ path('app_wall_new') }}">(+)</a></small>
        </h1>
        {% include 'partials/_entity-loop.html.twig' with {'entities': entities} %}
    </div>

    {{ render(controller('App\\Controller\\EmbedController::sidebar')) }}

{% endblock %}
