{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'label.profile_edit' | trans }}
    {{ parent() }}
{% endblock %}

{# 
{% block importmap %}
    {{ importmap(['app', 'form_image']) }}
{% endblock %}
#}

{% block card_header %}
    <h1>{{ 'label.profile_edit' | trans }}</h1>
{% endblock %}

{% block card_body %}
    <div class="mb-3">
        {{ include('partials/_form.html.twig') }}
    </div>
{% endblock %}

{% block card_footer %}
{% endblock %}
