{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'label.profile_edit' | trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1>{{ 'label.profile_edit' | trans }}</h1>
{% endblock %}

{% block card_body %}
    <div class="mb-3">
        {% include 'partials/_avatar.html.twig' with {'user': user, 'size': 128 } only %}
    </div>
    <div class="mb-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-end">
        <button class="btn-primary">{{ 'label.send' | trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="text-end">
    </div>
{% endblock %}


{% block card_footer %}
{% endblock %}
